#container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: rgba(70, 130, 180, 0.9);
}

#image-gallery {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

h3 {
    text-align: center;
    color: rgba(34, 139, 34, 0.9);
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    font-size: 0.75em;
    color: rgba(128, 0, 128, 0.8);
}

#image-gallery {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    border: 2px solid orange;
}

#image-gallery > div {
    border: 1px solid orange;
    padding: 20px;
}

.bottom-right {
    text-align: right;
    margin-top: 40px;
}
