body {
    font-family: 'Montserrat', sans-serif;
}

#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color: #2C3E50;
    color: #ECF0F1;
    border: 1px solid #D6A800;
    padding: 10px;
}

a {
    color: #2C3E50;
    text-decoration: none;
}

a:hover {
    color: #D6A800;
}

a:visited {
    color: #5D6D7E;
}
